.topbutton {
    position: fixed;
    bottom: 1rem;
    right: 1rem;
    background-color: $color__white;
    color: $color__heading;
    width: 3rem;
    height: 3rem;
    @include flex-center;
    font-size: 1.5rem;
    box-shadow: 0 0 10px 0 rgba(0,0,0,0.1);
    transition: all 0.3s;
    border-radius: 5rem;
    opacity: 0;
    visibility: hidden;
    transition: all .15s ease;
    @include lg-up {
        bottom: 3rem;
    }
    &.btn-show {
        visibility: visible;
        opacity: 1;
        z-index: 99999999;
    }
    &:hover{
        background: $color__theme;
        color: $color__white;
    }
}

// primary button
.primary_btn{
    background: $color__white;
    display: inline-block;
    padding: 0.43rem 1rem .27rem 1rem;
    font-size: .75rem;
    
    font-family: $font__primary;
    line-height: 1.5;
    color: $color__heading;
    border-radius: 5rem;
    transition: all .15s ease;
    @include lg-up{
        font-size: .82rem;
        line-height: 1.7;
    }
    &:hover{
        color: $color__white;
        background: $color__theme;
    }
}
// primary default button 
.primary_default_btn {
    font-size: .875rem;
    font-family: $font__primary;
    
    color: $color__heading;
    line-height: 1.9;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: .375rem;
    transition: all .15s ease;
    display: inline-block;
    padding: .5rem 1.5rem;
    border-radius: .5rem;
    &:hover{
        background: $color__theme__500;
        box-shadow: 0 30px 80px 0 rgba(#000001, 0.05);
    }
}
// primary default border button 
.primary_default_border_btn{
    font-size: .75rem;
    line-height: 1.8;
    font-family: $font__primary;
    color: $color__body;
    padding: 0.43rem 1rem .30rem 1rem;
    border: 1px solid rgba($color__body, .35);
    border-radius: 5rem;
    transition: all .15s ease;
    display: inline-block;
    font-weight: 400;
    &:hover{
        color: $color__white;
        background: $color__theme;
        border: 1px solid transparent;
    }
}
// primary outline button
.primary_outline_btn{
    display: inline-block;
    font-size: .875rem;
    line-height: 1.2;
    color: $color__heading;
    padding: .875rem 1.5rem;
    border: 1px solid $color__border__600;
    border-radius: 5rem;
    transition: all .5s ease;
    position: relative;
    overflow: hidden;
    z-index: 2;
    @include md-up {
        font-size: 1rem;
        padding: 1.12rem 2rem;
    }
    @include md-up {
        font-size: .875rem;
        padding: 1rem 2rem;
    }
    @include xxl-up {
        font-size: 1rem;
        padding: 1.12rem 2rem;
    }

    span{
        position: absolute;
        width: 25%;
        height: 100%;
        background-color: $color__theme;
        transform: translateY(150%);
        border-radius: 50%;
        left: calc((var(--n) - 1) * 25%);
        transition: 0.5s;
        transition-delay: calc((var(--n) - 1) * .05s);
        z-index: -1;
        display: inline-block;
        opacity: 0;
        visibility: hidden;
        &:nth-child(1){
            --n: 1;
        }
        &:nth-child(2){
            --n: 2;
        }
        &:nth-child(3){
            --n: 3;
        }
        &:nth-child(4){
            --n: 4;
        }
    }
    &:hover{
        color: $color__white;
        span{
            transform: translateY(0) scale(2); 
            opacity: 1;
            visibility: visible;
        }
    }
}
// primary solid button
.primary_solid_btn{
    display: inline-block;
    font-size: 1rem;
    line-height: 1.2;
    
    
    color: $color__heading;
    padding: 1.12rem 2rem;
    border: 1px solid $color__border__600;
    border-radius: 5rem;
    transition: all .5s ease;
    position: relative;
    overflow: hidden;
    z-index: 2;
    background: $color__theme;
    span{
        position: absolute;
        width: 25%;
        height: 100%;
        background-color: $color__white;
        transform: translateY(150%);
        border-radius: 50%;
        left: calc((var(--n) - 1) * 25%);
        transition: 0.5s;
        transition-delay: calc((var(--n) - 1) * .05s);
        z-index: -1;
        display: inline-block;
        opacity: 0;
        visibility: hidden;
        &:nth-child(1){
            --n: 1;
        }
        &:nth-child(2){
            --n: 2;
        }
        &:nth-child(3){
            --n: 3;
        }
        &:nth-child(4){
            --n: 4;
        }
    }
    &:hover{
        color: $color__heading;
        span{
            transform: translateY(0) scale(2); 
            opacity: 1;
            visibility: visible;
        }
    }
}

// secondary solid button
.secondary_solid_btn{
    border: 0;
    border: 1px solid transparent;
    padding: .75rem 1rem;
    background: $color__heading;
    border-radius: .31rem;
    color: $color__white;
    display: flex;
    align-items: center;
    gap: .5rem;
    font-family: $font__primary;
    transition: all .15s ease;
    font-size: .875rem;
    @include lg-up{
        padding: .81rem 1rem;
        font-size: 1rem;
    }
    @include xl-up {
        padding: .81rem 1.875rem;
    }
    svg{
        width: .75rem;
        height: auto;
        @include lg-up{
            width: 1rem;
        }
    }
    &:hover{
        background: #000185;
    }
}

// secondary outline button
.secondary_outline_btn {
    border: 1px solid $color__heading;
    background: transparent;
    border-radius: .31rem;
    color: $color__heading;
    display: flex;
    align-items: center;
    gap: .5rem;
    font-family: $font__primary;
    transition: all .15s ease;
    font-size: .875rem;
    padding: .75rem 1rem;
    position: relative;
    overflow: hidden;
    @include lg-up{
        padding: .81rem 1.875rem;
        font-size: .875rem;
    }
    @include xl-up{
        font-size: 1rem;
    }
    svg{
        width: .75rem;
        height: auto;
        @include lg-up{
            width: 1rem;
        }
    }
    &:hover{
        background: $color__heading;
        color: $color__white;
        border: 1px solid transparent;
        svg{
            fill: $color__white;
        }
    }
}